apiVersion: v1
kind: Service
metadata:
  name: service-a
  namespace: devops
spec:
  selector:
    app: service-a
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a-v1
  namespace: devops
spec:
  replicas: 3
  selector:
    matchLabels:
      app: service-a
      version: v1
  template:
    metadata:
      labels:
        app: service-a
        version: v1
    spec:
      containers:
        - name: service-a
          image: service-a:v1
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATA_REDIS_HOST
              value: "redis"
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
